/* for google font */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');


/* Using Nunito and sans-serif mostly 
use in webpages and its look clean*/
*{
    margin:0; padding:0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;

}

/* pseudo-element  to select a portion of text that has been highlighted */
*::selection{
    background: #ffa500;
    color: #fff;
}

/* scrolling behavior for the page to be smooth instead of abrupt */
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem; 
    scroll-behavior: smooth;
}

/* section element 2rem on the top and bottom, and 9% on the left and right */
section{
    padding: 2rem 9%;
}

/* Applicable to all Section Headings */
.heading{
    text-align: center;
    padding: 2.5rem 0;
  }
  
.heading span{
    font-size: 3.5rem;
    background: #426255;
    color: #ffa500;
    border-radius: .5rem;
    padding: .2rem 1rem;
}
  
.heading span.space{
    background: none;
}
  
/* Applicable to all buttons "btn".  */
.btn{
    display: inline-block;
    margin-top: 1rem;
    background:#426255;
    color:#fff;
    padding: .8rem 3rem;
    border: .2rem solid #426255;
    cursor: pointer;
    font-size: 1.7rem;
}
  /* Updated colors: After hovering: Black for text and orange after hovering */
  .btn:hover{
    background:#ffa500;
    color:black;
  }
  /* modifying nev-bar  */
header{
      background-color: #426255;
      position: fixed;
      top: 0; left: 0; right : 0;
      background: #426255;
      z-index: 1000;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 9%;
  }

  /* modifying logo TripTime */
header .logo{
      font-size: 2.3rem;
      font-weight: bolder;
      color: #fff;
      text-transform: uppercase;
  }
  
header .logo span{
      font-size: 2.7rem;
      color:#ffa500;

  }
  /* modifying logo TripTime Ends */

  /* modifying nev-bar text */
header .navbar a{
      color: #ffff;
      font-size: 2rem;
      margin:0 .8rem;
  }
  
header .navbar a:hover{
      color:#ffa500;
  }

  /* login and search btn */
header .icons i{
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color:#ffa500;
}

  /* search Bar */
header .search-bar-container{
    position: absolute;
    top:100%; left: 0; right:0;
    padding: 1.5rem 2rem;
    background: #333;
    border-top: .1rem solid rgba(255 ,255 ,255, .2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container .label{
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}


header .search-bar-container .label:hover{
    color:#ffa500;
}

/* For login-form  */
.login-form-container{
    position: fixed;
    top:-120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width:100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
  top:0;
}


.login-form-container form{
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: .5rem;
  background: #fff;
  width:50rem;
}

.login-form-container form h3{
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box{
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: .6rem 0;
  border: .1rem solid rgba(0,0,0,.3);
  text-transform: none;
  
}

.login-form-container form .box:focus{
  border-color: #ffa500;
}
.login-form-container form #remember{
  margin: 2rem 0;
}

.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container form .btn{
  display: block;
  width:100%;
  
}

.login-form-container form p{
padding: .5rem 0;
font-size: 1.5rem;
color:#666;
}

.login-form-container form p a{
  color:#ffa500;
}


.login-form-container form p a:hover{
  color: #333;
  text-decoration: underline;
}


.login-form-container #form-close{
  position: absolute;
  top:2rem; right:3rem;
  font-size: 5rem;
  color:#fff;
  cursor: pointer;
}

#menu-bar{
    color: #fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    display: none;
  }

  /* first page, with five videos */
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
  }
  
.home .content{
    text-align: center;
  }
  
.home .content h3{
    font-size: 4.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1)
  
  }
  
.home .content p{
    font-size: 2.5rem;
    color: #fff;
    padding: .5rem 0;
  
  }
  
.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


/* favorite */
/* Styling for Favourite section starts from here */
.Favorite {
  margin-top: 3rem;
  background-color: #444;
}

.Favorite .review-slider{
  padding-bottom: 2rem;
}

/* Styling for the box used */
.Favorite .box{
  background-color: #edfeff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

/* Styling for image inside the box */
.Favorite .box img{
  margin-top:3rem;
  height: 30rem;
  width: 53rem;
  border-radius:2%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* Styling for heading used */
.Favorite .box h3{
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

/* Styling for paragraph text used inside the box */
.Favorite .box p{
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* Styling for start icons used inside the box */
.Favorite .box .stars i{
  color: #ffb81e;
  font-size: 1.7rem;
}

/* Styling for Favourite section starts from here */
.Favorite {
  margin-top: 3rem;
  background-color: #444;
}

.Favorite .review-slider{
  padding-bottom: 2rem;
}

/* Styling for the box used */
.Favorite .box{
  background-color: #edfeff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

/* Styling for image inside the box */
.Favorite .box img{
  margin-top:3rem;
  height: 30rem;
  width: 53rem;
  border-radius:2%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* Styling for heading used */
.Favorite .box h3{
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

/* Styling for paragraph text used inside the box */
.Favorite .box p{
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

/* Styling for start icons used inside the box */
.Favorite .box .stars i{
  color: #ffb81e;
  font-size: 1.7rem;
}



/* booking */
/* The css for booking section starts */
.book {
  margin-top: 10rem;
}

.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}

/* Adjusting image and form side by side */
.book .row .image{
  flex:1 1 40rem;
}

.book .row .image img{
  width: 100%;
  height: 50rem;
}


.book .row form{
  flex: 1 1 40rem;
  padding: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
}

.book .row form .inputBox{
  padding: .5rem 0;
}


.book .row form .inputBox input{
  width: 100%;
  padding: 1rem;
  border: .1rem solid rgba(0, 0, 0, .1);
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
}

.book .row form .inputBox h3{
  font-size: 2rem;
  padding: 1rem 0;
  color: #666;
}

/* packages */
/* Styling for packages starts from here */
.packages{
  position: relative;
  overflow: hidden;
}

/* Styling for background image for packages */
.packages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../Media/Image/BackGround/back1.jpg');
  filter: blur(5px) ;
  -webkit-filter: blur(5px);
  z-index: -1;
}
/* Styling for box containers */
.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
/* Styling for individual box used */
.packages .box-container .box{
  flex: 0 0 calc(33.33% - 20px);
  /* Here calc() is used to calculate 33.33% and substract 20px from it for flex */
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

/* Styling for images used inside each individual box */
.packages .box-container .box img{
  height: 25rem;
  width: 100%;
  object-fit: cover ;
}

/* Styling used for text content inside the box */
.packages .box-container .box .content{
  padding: 2rem;
}

/* Styling for heading inside the box */
.packages .box-container .box .content h3{
  font-size: 2rem;
  color: #333;
}

/* Styling for location icon used */
.packages .box-container .box .content h3 i{
  color:#426255;
}

/* Styling for text content used inside the box */
.packages .box-container .box .content p{
  font-size: 1.7rem;
  color: #ffffff;
  padding: 1rem 0;
}

/* Styling used for starts icon used inside the box */
.packages .box-container .box .content .stars i{
  font-size: 1.7rem;
  color: #ffa500;
}

/* Styling used for price text used inside the box */
.packages .box-container .box .content .price{
  font-size: 2rem;
  color: #e3faff;
  padding-top: 1rem;
}

/* Styling used for price number used inside the box */
.packages .box-container .box .content .price span{
  font-size: 1.5rem;
  color: #e3faff;
  text-decoration: line-through ;
}

/* services */
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .services .box-container .box{
    flex: 0 0 calc(33.33% - 20px);
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
  }
  
  .services .box-container .box i{
    padding: 1rem;
    font-size: 5rem;
    color: #ffa500;
  }
  
  .services .box-container .box h3{
    padding: 2.5rem;
    color: #333;
    font-size: 2rem;
  }
  
  .services .box-container .box p{
    font-size: 1.6rem;
    color: #666;
    padding: 1rem o;
  }
  
  .services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  }


/* gallery */
.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.gallery .box-container .box{
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1) ;
  border: 1rem solid #fff;
  border-radius: .5rem;
  flex: 0 0 calc(33.33% - 20px);
  height: 25rem;
  position: relative;
}

.gallery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery .box-container .box .content{
  position: absolute;
  top: -100%; left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, .6);
  padding: 2rem;
  padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
  top: 0;
}

.gallery .box-container .box .content h3{
  font-size: 2.5rem;
  color: #ffa500
}

.gallery .box-container .box .content h2{
  font-size: 1.8rem;
  color: #ffa500
}

.gallery .box-container .box .content p{ 
  font-size: 1.5rem;
  color: #eeeeee;
  padding: .5rem 0;
}

/* reviews */

/* Styling for review starts from here */
.review {
  margin-top: 3rem;
  background-color: #fff6e3;
}

.review .review-slider{
  padding-bottom: 2rem;
}

.review .box{
  padding: 2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-radius: .5rem;
  background-color: #f5f5f5;
}

.review .box img{
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.review .box p{
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.review .box .stars i{
  color: #ffb81e;
  font-size: 1.7rem;
}



/* contacts */
.contact {
    margin-top: 3rem;
  }
  
  .contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
  }
  
  .contact .row .image{
    flex: 1 1 35rem;
  }
  
  .contact .row .image img{
    width: 100%;
  }
  
  .contact .row form{
    flex: 1 1 50rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
  }
  
  .contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .contact .row form .inputBox input, .contact .row form textarea{
    width: 49%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
  }
  
  .contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;
  }

/* brand */

/* footer */
.footer{
    background: #333;
    margin-top: 120px;
  }
  
  .footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .footer .box-container .box{
    padding: 1rem 0;
    flex: auto;
    color: #fff;
  }
  
  .footer .box-container .box1{
    margin-left: 120px;
    padding: 1rem 0;
    flex: 1 1 25rem;
    color: #fff;
  }
  .footer .box-container .box2{
    padding: 1rem 0;
    color: #fff;
  }
  
  .footer .box-container .box h3, .box1 h3, .box2 h3{
    font-size: 2.5rem;
    padding: .7rem 0;
    color: #fff;
  }
  
  .footer .box-container .box p, .box1 p, .box2 p{
    width: 200px;
    overflow-wrap: break-word;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #fff;
  }
  
  .footer .box-container .box a, .box1 a, .box2 a{
    display: block;
    font-size: 1.5rem;
    padding: .7rem 0;
    color: #eee;
  }
  
  .footer .box-container .box a:hover , .box1 a:hover , .box2 a:hover{
   color: #ffa500;
   text-decoration: underline;
  }
  
  .footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    border-top: .1rem solid rgba(225, 225, 255, .2);
  }
  
  .footer .credit .tripjoy{
    color: #ffa500;
  }
  /* Styling for sponsor brands starts from here */
.brand-container{
  margin-top: 10rem;
  text-align: center;
}

.brand-container .brand-slider .swiper-wrapper img{
height: 10rem;
width: 25rem;
}















body{
    height: 300rem;
  }

/* media queries */

@media (max-width: 1200px){

    html{
      font-size: 55%;
    }
  }
  
@media (max-width: 991px){
  
    header{
      padding: 2rem;
    }
  
    section{
      padding: 2rem;
    }
  
}

@media (max-width:768px){
  
    #menu-bar{
      display: initial;
    }
  
    header .navbar{
      position: absolute;
      top: 100%; right: 0; left: 0;
      background: #333;
      border-top: .1rem solid  rgba(255 ,255 ,255, .2);
      padding: 1rem 2rem;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  
    }
  
    header .navbar a{
      display: block;
      border-radius: .5rem;
      padding: 1.5rem;
      margin: 1.5rem 0;
      background: #222 ;
  
    }
  
    @media (max-width: 450px){
  
      html{
        font-size: 50%;
      }
  
      .heading span{
        font-size: 2.5rem;
      }
    }
  
    .contact .row form .inputBox input{
      width: 100%;
    }
  
  }
  
  